/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 2, 2017, 6:58:32 PM
    Author     : dcoomb
*/
.buttons{
    text-align:center;
    color:black;
    background-color: #99ff99;
    border-style: solid;
    border-width:5px;
}
html{
    text-align:center;
    align-content:center;
    background-color: #e9e1e8
}
